#tools {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 0px;
}


#tools h2 {
    text-shadow: #333 6px 6px;
    font-size: 20px;
    text-align: center;
    color:white;
    letter-spacing: 0.2rem;
}


.tools {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    max-width: 100%;
}

.tools img {
    max-width: 100%;
    height: auto;
    margin: 10px;
    border-radius: 50px;
}